body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.card {
   border: 1px solid #9f9d9dcc;
   border-radius: 15px;
   box-shadow: 5px 5px 5px #7070706b;
   padding: 25px;
   margin: 10px;
   text-align: center;
   max-width: 20rem;
   display: inline-block;
}
.card .cardImage {
   max-width: 60%;
   height: auto;
   border-radius: 50%;
   margin-bottom: 10px;
}
.card .cardTitle {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   color: #121111;
}
.card .cardText {
   font-family: Arial, Helvetica, sans-serif;
   color: #1d1d1dda;
}
.list-category {
   font-size: 2em;
   font-weight: bold;
   border: 1px solid #121111;
   border-radius: 15px;
   background-color: bisque;
}
.list-category,
.list-item li {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   list-style: none;
}
.list-item {
   display: grid;
   gap: 1rem;
}
.list-item li:hover {
   transform: scale(0.8);
   color: rgb(114, 111, 107);
   cursor: pointer;
}
button {
   border-radius: 0.5rem;
   border: none;
   padding: 0.3rem 0.8rem;
   color: antiquewhite;
   background-color: rgb(127, 208, 255);
   font-size: 3rem;
   display: block;
}
.component-button {
   border-radius: 0.8rem;
   border: none;
   padding: 0.5rem 1rem;
   color: rgb(108, 15, 71);
   background-color: rgb(255, 183, 0);
   font-size: 1rem;
   display: block;
   cursor: pointer;
}
div .Counter-container {
   color: #fff;
   background-color: rgb(3, 56, 99);
   width: 25rem;
   margin: 5rem auto;
   display: grid;
   border-radius: 25px;
   text-align: center;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   padding: 3rem 1.5rem;
}
.figure {
   font-size: 8rem;
}
.btn-ctn {
   display: flex;
   justify-content: space-around;
}
.cnt-btn {
   background-color: rgb(45, 158, 223);
   font-size: 1rem;
}
.color-display {
   border: 1px solid #0000003e;
   height: 250px;
   width: 320px;
   margin: 1rem auto;
   border-radius: 12px;
   box-shadow: 0 5px 5px #585757;
   transition: 1s ease-out;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.8em;
   margin-bottom: 3rem;
}
.color-picker-container {
   font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
   text-align: center;
}
.color-picker-container label {
   display: block;
}
.react-container {
   width: 20rem;
   margin: 4rem auto;
}
.btn {
   border-radius: 0.3rem;
   border: none;
   padding: 0.3rem 0.8rem;
   color: antiquewhite;
   background-color: rgb(110, 7, 96);
   font-size: 1em;
   margin: 1rem;
   display: block;
}
input {
   margin: 0.4rem 0;
}
